<footer class="site-footer h-card">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name"><img src="{{ "/assets/images/logo.svg" | relative_url }}" alt="tpo42 Logo" class="site-logo" width="32px" height="32px">{{ site.title | escape }}</li>
          <li>
            <a class="u-email" href="mailto:info@tpo42.de">
              <img src="{{ '/assets/images/email-icon.svg' | relative_url }}" alt="Email" class="icon">info@tpo42.de
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>
            <a href="https://github.com/tpo42">
              <img src="{{ '/assets/images/github-mark.svg' | relative_url }}" alt="GitHub" class="icon">
              <span class="username">tpo42</span>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/jens-rehsack-14108926/">
              <img src="{{ '/assets/images/linkedin-icon.svg' | relative_url }}" alt="LinkedIn" class="icon">
              <span class="username">LinkedIn</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
        <p><small>Licensed under Creative Commons Attribution-ShareAlike 4.0</small></p>
      </div>
    </div>
  </div>
</footer>
